<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BulletJournal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BulletJournal.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\JournalDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BulletJournal.Properties.Settings>
            <setting name="NotesDateAdded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotesDateChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DailyDateAdded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DailyDateChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DailyTaskIsImportant" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DailyTaskType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonthlyDateAdded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonthlyDateChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonthlyTaskIsImportant" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonthlyTaskType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FutureDateAdded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FutureDateChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FutureTaskIsImportant" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FutureTaskType" serializeAs="String">
                <value>False</value>
            </setting>
        </BulletJournal.Properties.Settings>
    </userSettings>
</configuration>